.services {
	width: 100vw;
	height: 100vh;
}
.services__Section {
	display: flex;
	width: 100vw;
	height: 100vh;
}
.services__Left {
	width: 60%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #f8f8f8;
}
.topText {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 20%;
	justify-content: center;
	margin: 0 auto;
}
.service__intro {
	color: #6357ff;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}
.service__title {
	width: 100%;
	font-size: 64px;
	font-weight: 400;
	color: #222222;
}

.servicesContainer {
	height: 80%;
	width: 80%;
	display: grid;
	margin: 0 50px;
	place-items: center;
	column-gap: 3rem;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
}
.servicesCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 300px;
	gap: 5px;
	width: 300px;
	height: 200px;
	padding: 20px;
	box-shadow: inset 0px 0px 5px #222222;
	color: #222222;
	border-radius: 4px;
	background-color: white;
}
.card__Icon {
	font-size: 34px;
	color: #6357ff;
}
.card__Title {
	font-weight: 400;
	font-size: 24px;
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;
}
.card__Title::before {
	width: 20%;
	background-color: #6357ff;
	height: 4px;
	content: "";
}
.card__description {
	font-size: 16px;
	width: 90%;
	text-align: justify;
	line-height: 25px;
	font-family: "Montserrat", sans-serif;
}
.about__floatingImg {
	position: absolute;
	top: 205%;
	right: 13%;
	height: 90%;
	box-shadow: 0px 0px 10px;
	border-radius: 10px;
}
.services__Right {
	width: 40%;
	background-color: royalblue;
	height: 100vh;
}
@media screen and (max-width: 1200px) {
	.services__Left {
		width: 100%;
	}
	.services__Right {
		width: 0%;
	}
	.service__title {
		font-size: 45px;
	}
	.servicesContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;

		margin: 0 auto;
	}

	.about__floatingImg {
		display: none;
	}
	.card__Icon {
		font-size: 30px;
	}
	.card__Title {
		font-size: 18px;
	}
	
}
