.services {
	width: 100vw;
	height: 100vh;
}
.services__Section {
	display: flex;
	height: 100%;
	background-color: #6357ff;
}
.section__Left {
	width: 60%;
	background-color: #f8f8f8;
	height: 100vh;
}
.services__textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 80%;
	margin: 0 auto;
}
.topText {
	display: flex;
	flex-direction: column;
	height: 40%;
	justify-content: center;
	gap: 1em;
}
.service__intro {
	color: #6357ff;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}
.service__title {
	width: 100%;
	font-size: 64px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #222222;
}
.servicesContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.servicesCard {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 300px;
	height: 150px;
	margin: auto;
	padding: 1em;
	justify-content: space-around;

	background-color: white;
}
.card__Icon {
	font-size: 30px;
	color: #6357ff;
}
.card__Title {
	display: flex;
	font-size: 20px;
	align-items: center;
	justify-content: flex-start;
	font-weight: 600;
	gap: 1rem;
	letter-spacing: 1.2px;
}
.card__Title::before {
	content: "";
	width: 50px;
	height: 2px;
	background-color: gray;
}
.card__description {
	width: 80%;
	text-align: left;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-size: 16px;
	color: #222222;
}
.services__float {
	height: 100%;
	width: 40%;
	position: absolute;
	top: 200%;
	right: 0%;
	opacity: 0.1;
	object-fit: cover;
	object-fit: fill;
}
@media screen and (max-width: 1200px) {
	.services__float {
		display: none;
	}
	.section__Left {
		width: 100%;
	}
	.services__textContainer {
		width: 100%;
		height: 100%;
	}
	.topText {
		text-align: center;
		height: 20%;
	}
	.service__title {
		font-size: 35px;
	}
	.servicesContainer {
		display: flex;
		grid-template-columns: repeat(2, minmax(250px, 1fr));
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.servicesCard {
		word-wrap: break-word;
		height: auto;
		padding: 1rem;
		place-items: center;
		box-shadow: 0px 0px 6px;
	}
	.card__Title {
		font-size: 14px;
	}
	.card__Icon {
		font-size: 20px;
	}
	.card__description {
		font-size: 12px;
	}
}
